.hero-header {background-image: url('../images/bacteria.jpg'); background-size:contain; color:#fff !important; text-align: left !important;    background-repeat: no-repeat;
    background-position: right;
    background-color: #000 !important;}